
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/" >
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/govhome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/creches">Creches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addchildren">Add Children</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addfaculty">Add Faculty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faculty">Faculty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/children">Children</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/addnotice">Add Notice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/complains">Complains</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" routerLink="/">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div>
    <li *ngFor="let a of arr">
      <h2>{{a.name}}</h2>
      <p>{{a.cname}}</p>
    </li>
  </div>
  