/* You can add global styles to this file, and also import other style files */

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


@import "~bootstrap/dist/css/bootstrap.min.css";
/* @import "~font-awesome/css/font-awesome.css"; */

html {
    font-size : 13px;
}